<template>
      <lightning-checkbox-group name="Checkbox Group" label="Marker Group"
            options={options} value={value}>
        </lightning-checkbox-group>

        <div>I am a div in the child component</div>

        <p>This Message In the Child Component comes from parent {message}</p>
</template>