<template>
    <lightning-card title="Palette Publisher">
        <lightning-layout>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <lightning-combobox label="Color" value={color} options={colorCodeOptions} onchange={changeColor}> </lightning-combobox>
                <div class="slds-p-top_small">
                    <lightning-button label="change color" variant="brand" onclick={handleChangeColor}></lightning-button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>