<template>
    <lightning-card title="Canvas Subscriber">
        <lightning-layout-item flexibility="grow">
            <p>While the color doesn't change please check the console. That works!!!</p>
            <div class="templateBodyClasss" ></div>
            <!--<div class="templateBodyClasss" style={colorStyle}></div>-->
        </lightning-layout-item>
    </lightning-card>
</template>