<template>
    <lightning-card title="Child Component">
        <div class="slds-m-around_medium">
            <lightning-input name="textVal" label="Enter Text" onchange={handleChange}></lightning-input>
        </div>

    </lightning-card>
</template>

<!--
<template>
    <lightning-card title="Child Component">
        <div class="slds-m-around_medium"> 
                <lightning-input name="textVal" label="Enter text" onchange={handleChange}></lightning-input>
        </div>
    </lightning-card>
</template>
-->