<template>
    <lightning-card title="Navigation Service in LWC">
        <center>
        <lightning-card title="Navigation to Record Pages">
            <lightning-button-group>
                <lightning-button label="New Record Page" onclick={navigateToNewRecordPage}></lightning-button>
                <lightning-button label="Edit Record Page" onclick={navigateToEditRecordPage}></lightning-button>
                <lightning-button label="View Record Page" onclick={navigateToViewRecordPage}></lightning-button>
            </lightning-button-group>
        </lightning-card> <br/>

        <lightning-card title="Navigation to List Views">
            <lightning-button-group>
                <lightning-button label="Account Recent View" onclick={navigateAccRecentView}></lightning-button>
                <lightning-button label="Related List View" onclick={navigateRelatedListView}></lightning-button>
            </lightning-button-group>
        </lightning-card> <br/>

        <lightning-card title="Navigate to Oject Page and Standard Home Tabs">
            <lightning-button-group>
                <lightning-button label="Account Page" onclick={navigateAccObject}></lightning-button>
                <lightning-button label="Contact Page" onclick={navigateConObject}></lightning-button>

                <lightning-button label="Home Page" onclick={navigationToHomePage}></lightning-button>
                <lightning-button label="Chatter Page" onclick={navidationToChatterHome}></lightning-button>
            </lightning-button-group>
        </lightning-card> <br/>

        <lightning-card title="Navigate to Web Page">
            <lightning-button-group>
                <lightning-button label="Web Page" onclick={navigateToWebObject}></lightning-button>
            </lightning-button-group>
        </lightning-card> 
        </center>
</lightning-card>
</template>