<template>
    <lightning-card title="HelloForEach">
        <ul class="slds-m-around_medium">
            <template for:each={contacts} for:item="contact">
                <li key={contact.id}>
                    {contact.Name},{contact.Title}
                </li>
            </template>
        </ul>
    </lightning-card>
        
    <lightning-card title="HelloIterator">
        <ul class="slds-m-around_medium">
            <template iterator:it={contacts}>
                <li key={it.value.id}>
                    <div if:true={it.first} class="list-first"></div>
                    {it.value.Name},{it.value.Title}
                    <div if:true={it.last} class="list-last"></div>
                </li>
            </template>
        </ul> 
    </lightning-card>
</template>