<template>
    <lightning-card title="Call Methods On Child Component">
        <p>Type red, blue, green or black in the input field and then click on button.</p> 
        <lightning-input value={value} label="Checkbox Value" onchange={onInputChangeHandler}> </lightning-input>
        <lightning-button label="Select Checkbox" onclick={checkboxSelectHandler}> </lightning-button>
        
        <div>I am a div in a parent component</div>
        <c-public-method-child></c-public-method-child>

        
        <lightning-layout-item flexibility="auto" padding="around-small ">
            <lightning-input label="Enter your message" onchange={handleChangeEvent}></lightning-input>
        </lightning-layout-item>
    </lightning-card>
</template>