<template>
    <lightning-card title="All Contacts">
        <lightning-input type="number" label="Number of Contact Records To Retrieve" onchange={numberOfContactChangeHandler}></lightning-input>
        <p>
            <lightning-button label="Get Contacts" onclick={getContacts}></lightning-button>
        </p>
        
        <ul>
            <template if:true={responseReceived}>
                <template for:each={contacts} for:item="contact">
                    <li key={contact.id}>
                        <div class="slds-p-around_medium">
                            <lightning-tile label={contact.LastName}>
                                <p class="slds-truncate" title={contact.Phone}>{contact.Phone}</p>
                            </lightning-tile>
                        </div>
                    </li>
                </template>
            </template>
        </ul>
    </lightning-card>
</template>