<template>
    <lightning-card title="Simple Interest Calculator">
        <lightning-layout multiple-rows> 
            <lightning-layout-item size="12" padding="around-medium">
                <lightning-input type="number" label="Enter principal" onchange={principalChangeHandler}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-medium">
                <lightning-input type="number" label="Enter number of years" onchange={timeChangeHandler}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-medium">
                <lightning-input type="number" label="Enter rate of interest" onchange={rateChangeHandler}></lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-medium">
                <lightning-button label="Calculate Simple Interest" icon-position="center" onclick={calcSIHandler}></lightning-button>
            </lightning-layout-item>

            <lightning-layout-item size="12" padding="around-medium">
                <lightning-formatted-text value={currentOutput}></lightning-formatted-text>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>