<template> <!--We are using "Lightning Data Service" to create and get a record-->
    <lightning-card title="Working with Records">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="Create New Contact using LDS">
                    <lightning-input name="Contact First Name " label="First Name" onchange={contactFirstNameChangeHandler}></lightning-input>
                    <lightning-input name="Contact Name " label="Last Name" onchange={contactNameChangeHandler}></lightning-input>
                    <lightning-input name="Contact Email " label="Email" onchange={contactEmailChangeHandler}></lightning-input>
                    <lightning-input name="Contact Phone " label="Phone" onchange={contactPhoneChangeHandler}></lightning-input> 
                    <br />
                    <lightning-button label="Create Contact " onclick={createContactDataService} variant="brand"></lightning-button>
                </lightning-card>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="Contact Record using LDS">
                    <p><lightning-formatted-text value={retContactFirstName}></lightning-formatted-text> </p>
                    <p><lightning-formatted-text value={retContactName}></lightning-formatted-text></p>
                    <p><lightning-formatted-phone value={retContactPhone}></lightning-formatted-phone></p>
                    <p><lightning-formatted-email value={retContactEmail}></lightning-formatted-email></p>
                </lightning-card>
            </lightning-layout-item>
        </lightning-layout>



        <lightning-layout> <!-- BASE COMPONENTS CREATE AND THEN EDIT THE RECORD CREATED-->
            
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="Create: Base Components">
                    <lightning-record-edit-form object-api-name="Contact" onsuccess={createContactBaseComponents}>
                        <lightning-input-field field-name="FirstName"></lightning-input-field>
                        <lightning-input-field field-name="LastName"></lightning-input-field>
                        <lightning-input-field field-name="Email"></lightning-input-field>
                        <lightning-input-field field-name="Phone"></lightning-input-field>
                        <lightning-input-field field-name="AccountId"></lightning-input-field>
                        <lightning-button class="slds-m-top_small" variant="brand" name="save" type="submit" label="Create New"></lightning-button>
                    </lightning-record-edit-form>
                </lightning-card>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small"> 
                <lightning-card title="View: Base Components">
                    <lightning-record-view-form record-id={createdRecordId} object-api-name="Contact">
                        <div class="slds-box">
                            <p>This contact won't show up here until you click Create New with a new contact</p>
                            <p><lightning-output-field field-name="Name"></lightning-output-field></p>
                            <p><lightning-output-field field-name="Email"></lightning-output-field></p>
                            <p><lightning-output-field field-name="Phone"></lightning-output-field></p>
                            <p><lightning-output-field field-name="AccountId"></lightning-output-field></p>
                        </div>
                    </lightning-record-view-form>
                </lightning-card>
            </lightning-layout-item>
        </lightning-layout>



         <!-- BASE COMPONENTS open and edit a record-->
         
        <lightning-layout>
            
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="Create: Base Components">
                    <lightning-record-edit-form object-api-name="Contact">
                        <lightning-input-field field-name="FirstName"></lightning-input-field>
                        <lightning-input-field field-name="LastName"></lightning-input-field>
                        <lightning-input-field field-name="Email"></lightning-input-field>
                        <lightning-input-field field-name="Phone"></lightning-input-field>
                        <lightning-input-field field-name="AccountId"></lightning-input-field>
                        <lightning-button class="slds-m-top_small" variant="brand" name="save" type="submit" label="Create New"></lightning-button>
                    </lightning-record-edit-form>
                </lightning-card>
            </lightning-layout-item>

            <lightning-layout-item size="6" padding="around-small"> 
                <lightning-card title="Edit: using Base Components">
                    <lightning-record-edit-form record-id={contactRecordId} object-api-name="Contact">
                        <lightning-output-field field-name="AccountId"></lightning-output-field>
                        <lightning-input-field field-name="FirstName"></lightning-input-field>
                        <lightning-input-field field-name="LastName"></lightning-input-field>
                        <lightning-input-field field-name="Email"></lightning-input-field>

                        <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="update" label="update"></lightning-button>
                    </lightning-record-edit-form>
                </lightning-card>
            </lightning-layout-item>
        </lightning-layout>
        

        <!-- BASE COMPONENTS this is an example of the View and View/Edit form using Base Components commenting to save space -->
        <!--
        <lightning-layout>     
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="View: Base Components">
                    <lightning-record-view-form record-id={accountRecordId} object-api-name="Account">
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name="Name"></lightning-output-field>
                                <lightning-output-field field-name="Phone"></lightning-output-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name="Industry"></lightning-output-field>
                                <lightning-output-field field-name="AnnualRevenue"></lightning-output-field>
                            </div>
                        </div>
                    </lightning-record-view-form>
                </lightning-card>
            </lightning-layout-item>

            
            <lightning-layout-item size="6" padding="around-small"> 
                <lightning-card title="View/Edit using Base Components">
                    <lightning-record-form record-id={accountRecordId} object-api-name="Account" mode="view" layout-type="Compact"></lightning-record-form>
                </lightning-card>
            </lightning-layout-item> 
        </lightning-layout> -->


    </lightning-card>  
</template>