<!-- This is a CHILD COMPONENT that is referenced by a PARENT COMPONENT called employeeDetailsParent to show the use of properties in child components-->

<template>
    <div class="slds-p-around_medium lgc-bg">
        <lightning-tile label={empDetail.empName}>
            <p class="slds-truncate" title={empDetail.empAddress}>
                EmployeeAddress: {empDetail.empAddress}. <br/>
                Boolean property show: {show}
            </p>
            <!--
            <lightning-checkbox-group name="Checkbox Group" label="Marker Group"
                    options={options} value={value}></lightning-checkbox-group> -->
        </lightning-tile>
    </div>
</template>