<template>
    <lightning-card title="Hello World">
        <div class="slds-m-around_medium">
            <p>hello, {greeting}</p>
            <lightning-input label="Name" value={greeting} onchange={changeHandler}>
            </lightning-input>
        </div>
    </lightning-card>
</template>