<template>
    <lightning-card title="Employee Details" icon-name="standard:formula">
        <ul>
            <template for:each={empDetails} for:item="emp">
                <li key={emp.empName} style="padding: 10px">
                    <c-employee-detail show emp-detail={emp}></c-employee-detail> 
                        <!--please notice that we are using the boolean property show from the child component employeeDetail.
                            If show wasn't there it would still keep it's default value which is false but just because it is listed in there
                            that automatically makes it true. This is the behavior of Boolean properties -->
                </li>
            </template>
        </ul>
    </lightning-card>
    <!--
    <lightning-card>
        <lightning-input value={value} label="Ceckbox Value" onchange={onValueChangeHandler}></lightning-input>
        <lightning-button label="Select Checkbox" onclick={checkboxSelectHandler}></lightning-button>
    </lightning-card> -->
</template>