<template>
    <lightning-card>
        <center>
            <div class="slds-m-top_medium slds-m-bottom_x-larger">
                <h2 class="slds-text-heading_medium slds-m-bottom_medium">
                    Show Toast Notification
                </h2>

                <lightning-button-group>
                    <lightning-button label="Show Success" onclick={handleSuccess}></lightning-button>
                    <lightning-button label="Show Error" onclick={handleError}></lightning-button>
                    <lightning-button label="Show Warning" onclick={handleWarning}></lightning-button>
                    <lightning-button label="Show Info" onclick={handleInfo}></lightning-button>
                </lightning-button-group>
            </div>
        </center>
    </lightning-card>
</template>