<template>
    <div class="slds-m-around_medium">
        Value from Child: {msg}
        <c-child-component-custom-events></c-child-component-custom-events>

    </div>
</template>

<!--
<template>
   <div class="slds-m-around_medium">
       Value from Child: {msg}
       <c-child-component-custom-events onmycustomevent={handleCustomEvent}></c-child-component-custom-events>
   </div> 
</template>
-->